---
export async function getStaticPaths() {
  const allPosts = Astro.fetchContent('../../posts/*.md')
  
  return allPosts.map(post => {
    return {
      params: { slug: 'hello-world' },
      props: { post }
    }
  })
}

const { post } = Astro.props
---
<h1>A post</h1>