<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Blog</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/global.css">
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Blog</h1>
  </body>
</html>